body{
margin: 0;
border: 0;
background: url(../image/img4.jpg);
background-size: cover;

}
.loginbox
{
  width=320px;
  height=420px;
  background-color: #000;
  color: #fff;
  top=40%;
  left=50%;
margin: 200px;
padding: 70px 30px;
    position: absolute;
  box-sizing: border-box;


}
.avatar
{
  border-radius: 100%;
  position: absolute;
  top: -10%;
  left: calc(78% - 80px);
  margin: -100px;
  padding: 10px;
}
.avatar1
{
  height: 150PX;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  top: -18%;
  left: calc(63% - 100px);
  margin: -40px;
  padding: 10px;
}
h1
{

 text-align: center;
 font-size: 20px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-style: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"] ,input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 20px;
}
.loginbox button{
border: none;
outline: none;
height: 40px;
background-color: red;
color: #fff;
font-size: 18px;
border-radius: 20px;
}

.loginbox button:hover{
  cursor: pointer;
  color: black;
  background-color: yellow;
}
.loginbox a{
color: purple;

}
.loginbox a:hover{
color:yellow;

}
.signupbox
{
  width=320px;
  height=420px;
  background-color: #000;
  color: #fff;
  top=40%;
  left=50%;
margin: 200px;
padding: 10px 30px;
    position: absolute;
  box-sizing: border-box;
}
.signupbox p{
margin=0;
border=0;
font-style: bold;

}
.signupbox input{
  width: 100%;
  margin-bottom: 10px;
}
.signupbox input[type="text"],input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height 40px;
  color: #fff;
  font-size: 20px;
}
.signupbox button{
  height: 40px;
  background-color: red;
  color: #fff;
border-radius: 20px;
font-size: 18px;


}
.signupbox button:hover{
  cursor: pointer;
  color: black;
  background-color: yellow;
}
.signupbox a{
  color: purple;
}
.signupbox a:hover{
  color: yellow;
}


.login_form #first_error,
.login_form #last_error,
.login_form #user_error,
.login_form #email_error,
.login_form #pass_error,
.login_form #repass_error,
.login_form #u_error,
.login_form #p_error
{
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: red;
  background: rgba(255, 0, 0, 0.5);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #EF9A9A;
  display: none;
}
